header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

body {
}

div {
  border: 1px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
}

.lead-story {
}

.story {
}

.content {
  display: flex;
}

.text-content {
}

.narrative {
}

.stories {
}
.image-content {
}

.fall-cancelled.image-content {
}

.fall-cancelled {
}

.pop-culture.image-content {
}

.pop-culture {
}

.cat-ceo.image-content {
}

.cat-ceo {
}

.cookie {
}

.news-bites {
}

.bite {
}
